<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Orden Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Orden Management System</h1>
		<hr>
		<h2>Save Orden</h2>

		<form action="#" th:action="@{/save}" th:object="${orden}" method="POST">
			
			<div class="row">
				<label th:text="Cliente"></label>
				<select th:field="*{clienteId.id}">
					<option value="">-- Seleccione --</option>
					<option th:each="item : ${clientes}"
						th:value="${item.id}" th:text="${item.nombres}" />
				</select>
			</div>
			
			<div class="row">
				<label th:text="Producto"></label>
				<select th:field="*{productoId.id}">
					<option value="">-- Seleccione --</option>
					<option th:each="item : ${productos}"
						th:value="${item.id}" th:text="${item.descripcion}" />
				</select>
			</div>			
			
			<div class="row">
				<label th:text="Cantidad"></label>
				<input type="text" th:field="*{cantidad}" >
			</div>			
			
			<button type="submit" class="btn btn-info col-2">Save Orden</button>
		</form>

		<hr>

		<a th:href="@{/}"> Back to Orden List</a>
	</div>
</body>

</html>